body {
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#calculator {
    border: 3px solid #313131;
    border-radius: 3%;
    padding: 20px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(5, 65px);
    grid-gap: 5px;
}

#display {
    height: 65px;
    border: 1px solid #313131;
    border-radius: 15px;
    font-size: 43px;
    font-family: Monaco, monospace;
    padding: 0 5px;
    margin-bottom: 10px;
    overflow: hidden;
    max-width: 275px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 100%;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    font-size: 28px;
}

.grid-item.number {
    background-color: #313131;
    color: #f6f5f5;
}

.grid-item.operator {
    background-color: #f69908;
    color: #f6f7f7;
}

.grid-item.modifier {
    background-color: #9f9f9f;
    color: #010102;
}

.grid-item.zero {
    grid-column: 1/3;
    border-radius: 35px;
}